{% extends "base_generic.html" %}

{% block content %}
<h1>Clientes</h1>

<a href="{% url 'create_update_cliente' %}">Adicionar novo cliente</a>

<table id="myTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in cliente_list %}
        <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.telefone }}</td>
            <td>
                <a href="{% url 'create_update_cliente' cliente.id %}" class="btn-success">Editar</a>
                <a href="{% url 'delete_cliente' cliente.id %}" class="btn-danger">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
